@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins:wght@100&display=swap');

.nav{
    width: 50%;
    float: left;
    margin: 0;
    padding: 0px;
    display: inline-flex;
}

.list{
    list-style-type: none;
    padding: 0;
}

.item{
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient( 68.2deg,  #FD5902 -10%, rgba(139,73,255,1) 70.2% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 1em;

}