.form{
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.seachBar{
    width: 65%;
    height: auto;
    padding: 7px;
    border: 1px solid #ededed;
    border-radius: 5px;
    padding-left: 12px;
    font-size: 15px;
    margin-top: 1em;


}




